<mat-grid-list gutterSize="15px" cols="3" rowHeight="2:1">
    <mat-grid-tile><img class="imgSize" src="../../assets/img/Travel4.jpg"></mat-grid-tile>
    <mat-grid-tile><img class="imgSize" src="../../assets/img/Travel5.jpg"></mat-grid-tile>
    <mat-grid-tile><img class="imgSize"  src="../../assets/img/Travel3.jpg"></mat-grid-tile>
    <mat-grid-tile><img class="imgSize" src="../../assets/img/Travel2.jpg"></mat-grid-tile>
    <mat-grid-tile><img class="imgSize" src="../../assets/img/Travel1.jpg"></mat-grid-tile>
    <mat-grid-tile><img class="imgSize" src="../../assets/img/Travel6.jpg"></mat-grid-tile>
  </mat-grid-list>