<h2 mat-dialog-title>Login Here</h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="loginForm" (ngSubmit)="loginUser()" novalidate class="form-group">
        <table>
            <tr>
                <td>
                    <mat-form-field>
                            <mat-label>Enter Username</mat-label>
                        <input matInput  formControlName="username">
                    </mat-form-field>
                        <mat-error *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">
                            Username is required
                        </mat-error>
                </td>
                <td>
                    <mat-form-field>                        
                            <mat-label>Enter Password</mat-label>   
                        <input id="password" matInput placeholder="Password" type="Password" name="password" 
                            formControlName="password">                    
                        </mat-form-field>
                                <mat-error *ngIf="!loginForm.get('password').valid && loginForm.get('username').touched">
                            Password is required
                        </mat-error>                

                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button mat-raised-button matTooltip="Info about the action" type="submit" [disabled]="loginForm.invalid" (click)="btnLogin()">Login</button>
                    <button mat-raised-button mat-dialog-close>Cancel</button>
                </td>
            </tr>
        </table>

    </form>
</mat-dialog-content>
